body {
    --color-main: rgb(230, 31, 31);
    --color-dark: rgb(167, 0, 0);
    --color-darkest: black;
    height: 100vh;
    background-color: var(--color-darkest);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
    margin: 0;
}

#icon, #timer {
    font-size: 20px;
}

@media screen and (min-width: 320px) {
    #icon, #timer {
        font-size: calc(20px + (48 - 25) * ((100vw - 320px) / (1000 - 320)));
    }
}

@media screen and (min-width: 1000px) {
    #icon, #timer {
        font-size: 48px;
    }
}

#icon {
    height: 1em;
    width: 1em;
    margin-inline-end: 0.5em;
}

#timer {
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0.8px 0.8px var(--color-dark);
}
